*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.landing{
    width: 100%;
    height: 100vh;
    background: black;
    position: relative;
}
.landing img{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0.25;
}

.navbar{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.logo{
    text-decoration: none;
    color: white;
    font-size:  28px;
    letter-spacing: 1px;
    font-weight: 800;
    font-family:cursive;
}
.navbar ul li{
    display: inline-block;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    position: relative;
}
.navbar ul li::after{
    content:"";
    width: 0;
    height: 4px;
    background: cyan;
    position: absolute;
    bottom: 0;
    left:0;
    transition: 0.4s ease;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}

.content{
    position: absolute;
    text-align: center;
    max-width: 100%;
    top: 30%;
    color: white;
    padding: 0 10%;
}
.content h2{
    font-size: 60px;
}
.content p{
    font-size: 20px;
}


.aboutus{
    display: flex;
    flex-direction: row;
}
.content-about,.aboutus img{
    width: 50%;
}
.content-about{
    background-color: rgb(175, 201, 61);
    color: white;
    text-align: center;
    padding: 100px;
}
.content-about h2{
    font-size: 30px;
    margin: 10px 0;
}
.content-about p{
    font-size: 16px;
}

.contact{
    background: rgb(3, 5, 100);
    padding: 100px;
    text-align: center;
    color: white;
}
.contact-div{
    display: flex;
    width: 80%;
    margin: 50px auto;
}
.contact-div img{
    width: 50%;
}
form{
    width: 50%;
    display: flex;
    flex-direction: column;
    background: cyan;
    padding: 50px
}
form input, form textarea{
    margin: 10px 0;
    background: cyan;
    padding: 5px;
    border: none;
    border-bottom: 2px solid white;
    color: black;
    font-size: 14px;
}
form button{
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
    background: cyan;
    padding: 7px 15px;
    margin-left: auto;
    cursor: pointer;
    transition: 0.4s ease;
}
form button:hover{
    background: white;
    color: rgb(27, 211, 211);
}
.footer{
    background: black;
    color: white;
    padding: 20px 15%;
    text-align: center;
}


@media only screen and (max-width: 600px){
    .navbar ul{
        display: none;
    }
    .navbar a{
        margin: 0 auto;
    }
    .content{
        top: 20%;
    }
    .content h2{
        font-size: 36px;
        margin-bottom: 20px;
    }
    .content p{
        font-size: 18px;
    }

    .aboutus{
        flex-direction: column;
    }
    .content-about,.aboutus img{
        width: 100%;
    }
    .content-about{
        padding: 10px;
    }

    .domains{
        padding: 15px;
    }
    .container{
        flex-direction: column;
    }
    .card{
        margin: 10px;
        margin-bottom: 20px;
    }

    .contact{
        padding: 15px;
    }
    .contact-div{
        flex-direction: column;
    }
    .contact-div img, form{
        width: 100%;
    }
    
}